!!!
%html
  %head
    = csrf_meta_tag
    %meta{charset: "utf-8"}/
    %title chatspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    = render 'layouts/notifications'
    = yield
